body {
	background-color: #FF7F2A;
	color: #FFDD55;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

.banner {
	text-align: left;
	background-color: #333333;
	color: white;
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
}

h1, h4 {
	padding: 0px;
	margin: 0px;
}

/*CSS from W3Schools https://www.w3schools.com/css/css3_buttons.asp*/
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  background-color: #333333;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}